.main-header {
    text-align: center;
    margin: 50px;
}

.main-header h1 {
    color: orangered;
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
}

.main-header p {
    color: rgb(0, 60, 255);
    font-weight: 300;
    font-size: 20px;
}

.insurance-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 100px auto;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}

.insurance-card {
    width: 30%;
    min-width: 200px;
    max-width: 350px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
    padding: 50px;
    opacity: 0.8;
    transition: .8s;
    background-color: rgb(235, 237, 255);
}

.auto-card:hover {
    opacity: 1;
    background-color: rgb(255, 159, 104);
    color: white;
}

.health-card:hover {
    opacity: 1;
    background-color: rgb(255, 133, 133);
    color: white;
}

.life-card:hover {
    opacity: 1;
    background-color: rgb(121, 121, 255);
    color: white;
}

.insurance-pic-container {
    width: 100%;
    text-align: center;
}

.insurance-pic {
    width: 80%;
}

@media screen and (max-width:990px) {
    .insurance-container {
        display: block;
    }

    .insurance-card {
        height: 200px;
        padding: 20px;
        margin: 50px auto;
    }
}