.life-form-container h1, .life-form-container p {
    text-align: center;
}

.life-form-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background-color: rgb(224, 241, 255);
    padding: 20px;
    border-radius: 10px;
}

.life-form-info > * {
    width: 100%;
}

.life-form-info label {
    font-weight: 600;
    font-size: 20px;
}

.life-form-info input, .life-form-info select {
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
}

.life-form-btn {
    width: 150px;
    height: 50px;
    margin: 0 auto;
    color: white;
    font-weight: 600;
    background-color: rgb(0, 132, 255);
    border-radius: 20px;
    border: none;
}

.life-form-btn:hover {
    background-color: rgb(0, 75, 145);
}