.header-h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(0, 0, 133);
    font-weight: 700 !important;
    padding-top: 50px;
}

.img-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auto-header-img-container {
    width: 50%;
    max-width: 900px;
    min-width: 500px;
}

.auto-header-img {
    width: 100%;
}

.header h1 span {
    color: orangered;
    font-weight: 400;
}

.header-container {
    max-width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}

.header-info {
    font-weight: 600;
    padding: 20px;
    background-color: rgb(255, 233, 221);
    text-align: center;
    border-radius: 20px;
    width: 30%;
    min-width: 250px;
}

.header-info p {
    font-weight: 700;
}

.header-legal {
    text-align: center;
    margin: 50px;
    color: orangered;
}

.css-i4bv87-MuiSvgIcon-root {
    color: red;
    font-size: 50px !important;
    margin: 10px;
}

.about-me {
    background-image: url('./images/beatupcar.png');
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.about-me-container {
    text-align: center;
    width: 80%;
    margin: 50px auto;
    margin-bottom: 0;
    max-width: 1100px;
}

.get-btn {
    padding: 10px;
    color: white;
    background-color: orangered;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid black;
}

.get-btn:hover {
    background-color: rgb(116, 0, 0);
}

.steps {
    width: 100%;
    text-align: center;
    padding: 50px;
    background-color: rgb(31, 31, 31);
    color: rgb(255, 233, 221);
}

.steps h2 {
    color: rgb(255, 122, 74);
}

.steps h2 span {
    color: rgb(0, 183, 255);
}

.process-container {
    margin: 50px;
    text-align: center;
}

.process-container h4 {
    color: rgb(0, 0, 133);
    font-weight: 700;
}

.process-icon {
    background-color: orangered;
    color: white !important;
    border-radius: 50%;
    font-size: 100px !important;
}

.process-container p {
    font-weight: 600 !important;
}

.why-us {
    background-color: rgb(255, 233, 221);
    padding: 50px;
}

.line {
    border-bottom: 1px solid orangered;
    width: 80%;
    margin: 0 auto;
}

.why-us h2 {
    color: rgb(0, 0, 133);
    text-align: center;
    font-weight: 700;
    align-items: center;
}

.why-us p {
    text-align: center;
    width: 50%;
    margin: 20px auto;
    min-width: 250px;
}

.why-table-container {
    width: 80%;
    margin: 10px auto;
    margin-bottom: 40px;
    font-weight: 700;
    background-color: rgb(255, 233, 221) !important;
}

.why-table-container th {
    color: rgb(0, 0, 133);
    font-weight: 700;
    background-color: white;
    font-size: 20px;
}

.why-table-container tr:nth-child(even) {
    background-color: rgb(255, 150, 93);
    color: white;
}

.why-table-container tr:nth-child(odd) {
    background-color: rgb(253, 188, 153);
}

.why-table-container th, .why-table-container td {
    padding: 20px;
}

.researcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 50px auto;
    max-width: 80%;
}

.researcher h2 {
    font-weight: 700;
    color: rgb(0, 0, 133);
}

.researcher h2 span {
    color: orangered;
}

.researcher-info button {
    margin-top: 30px;
}

.researcher img {
    width: 100%;
}

@media screen and (max-width: 1070px) {
    .img-form-container {
        display: block;
    }

    .auto-header-img-container {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .header-container {
        display: block;
        width: 100%;
        margin: 50px auto;
    }

    .header-info {
        margin: 30px auto;
    }

    .researcher {
        display: block;
        text-align: center;
    }

    .researcher-info h2 {
        padding-bottom: 50px;
    }

    .researcher-info button {
        margin-top: 0;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 790px) {
    .why-us {
        width: 100%;
    }

    .why-table-container th {
        font-size: 13px;
    }

    .why-table-container td {
        font-size: 12px;
    }

    .about-me {
        height: 400px;
        font-weight: 800;
    }
}