.quote-form {
    /* background-color: rgb(255, 233, 221); */
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
    font-family: 'PT Serif', serif;
    border-radius: 20px;
    box-shadow: 0 0 20px .1px;
    position: relative;
    overflow: hidden;
}

#quote-heading {
    color: rgb(0, 0, 133);
    font-family: 'PT Serif', serif;
    font-weight: 700;
}

.quote-form p {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 20px;
}

.form-input {
    padding: 10px;
    min-width: 220px;
    width: 40%;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

.form-btn {
    padding: 10px;
    width: 40%;
    min-width: 220px;
    margin: 20px;
    color: white;
    background-color: orangered;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid black;
}

.form-btn:hover {
    background-color: rgb(116, 0, 0);
}

.quote-car {
    width: 70%;
    min-width: 400px;
    opacity: .5;
    position: absolute;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    top: 40px;
    left: 0;
    right: 0;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .quote-car {
        top: 20%;
        width: 200%;
        left: -55%;
    }
}
