.navbar {
    /* font-family: 'PT Serif', serif; */
    font-family: 'Overpass', sans-serif;
    border-bottom: 1px solid orangered;
    width: 95%;
    margin: 15px auto;
}

.nav-link.active {
    color: rgb(0, 0, 133) !important;
    font-weight: 700;
}

.navbar-brand {
    color: rgb(0, 0, 133) !important;
    font-weight: 700;
}

.auto-span {
    color: orangered
}